extends layout

block links
  link(rel='stylesheet', href='/css/loggedInNavbar.css')
  link(rel='stylesheet', href='/css/albumPhotos.css')

block content
  h1 Album: #{album.title}
  
  .row
    form(`/profile/album/${album.id}`, method='post', enctype='multipart/form-data')
      .col-xs-2
        .form-group
          h2 Select photos
          input(type='file', name='images', multiple=true)
      .col-xs-3
        button#addPhotos.btn.btn-primary Add Photos
    .col-xs-12
      button#deleteAlbum.btn.btn-danger.pull-right(data-album=album.id) Delete Album
    
  if photos.length
    .row#albumCollection
      each photo in photos
        a(href=`/profile/photo/${photo._id}`)
          div.photo(style=`background-image: url(${photo.photoUrl})`)
          //- img.photo(src=photo.photoUrl)
  else
    #noPhotos
      h2 You currently have no photos
      h4 How about adding some photos to your album?
    

block scripts
  //- script(src="/js/addPhoto.js")
  script(src="/js/deleteAlbum.js")
